<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8 d-flex align-items-center">
                            <img src="/images/calm_profile.png" alt="Profile Picture" style="width: 300px; height: auto; max-width: none;">
                        </div>
                        <div class="col-4">
                            <p class="lead text-left">
                                Hi, I'm Karan. I aim to do work that brings meaningful change. I currently work at <a href="https://www.aryn.ai/">Aryn</a>, a document intelligence startup, where I've built and led the development of AI applications, worked with customers on integrating novel workflows, and trained and launched new architectures. I am particularly interested and experienced in multimodal AI, due to its wide ranging applications and positioning for the next phase of AI development.
                            </p>
                            <p class="lead text-left">
                                I hold an M.S. in Data Science and B.S.E in Networked and Social Systems, both from the University of Pennsylvania. During my time there, I served as a teaching assistant to <a href="https://www.cis.upenn.edu/~zives/">Zachary Ives</a> and <a href="https://www.cis.upenn.edu/~swapneel/">Swapneel Sheth</a>, and conducted research with <a href="https://en.wikipedia.org/wiki/Duncan_J._Watts">Duncan Watts</a>.
                            </p>
                            <p class="lead text-left">
                                Before that, I completed my high school at a boarding school in the foothills of the Himalayas. Here I learnt the value of resilience, fortitude, and self-belief. During this time I also represented India for debate, as part of a team of 5 that was selected from over 8000.
                            </p>
                            <p class="lead text-left">
                                In my free time, I like to read, make and watch movies, and go on hikes. To reach out, email me at <a href="mailto:me@karansampath.com">me@karansampath.com</a>.
                            </p>
                        </div>
                    </div>
                </div>
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>

