<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="lead text-left">
                                I'm Karan Sampath, an avid thinker, budding technologist, and daydreamer straddling between Jobs and Quixote. I currently work at Aryn, building the document intelligence platform of the future. I enjoy reading and writing about technology, history, and entertainment, and deeply enjoy exploring the intersections of that Venn diagram. AI piques my interest for its all encompassing ability, and I'm passionate about gaining proficiency and connecting more with it. My current passion: diffusion models.
                            </p>
                            <p class="lead text-left">
                                I'm always happy to chat with startups, even (especially) if you are -1 to 0. If you'd like to meet, email me at <code>me@karansampath.com</code>.
                            </p>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center">
                            <img src="/images/profile.png" alt="Profile Picture" class="img-fluid">
                        </div>
                    </div>
                </div>
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>

