<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
             <p class="display-6 h4 text-left">About Me</p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                        <p class="lead text-left">Hi! I'm Karan Sampath, a Software engineer at Aryn AI passionate about building scalable applications and solving hard problems. I'm most proficient in Python, Java, and JavaScript, and have past internship experience as a Software Engineer intern at Palantir and Alignment Healthcare. My internship at Palantir gave me experience working on customer stacks, with his project focusing on developing new features for code repositories on the core commercial product. I also have developed communication and interpersonal skills having represented India at the World Schools Debating Championships. I graduated in May 2024 from the University of Pennsylvania with a master's in data science and a bachelor's in an integration of computer science and economics.</p>
                         <p class="lead text-left">I'm always looking to work at interesting places and on hard problems, feel free to contact me if you'd like to collaborate or have an opportunity in mind!</p>
                        </div>
                        <div class="col-lg-6">
                        <img src="../../../static/images/profile.png" alt="Profile Picture">
                        </div>
                    </div>
                </div>
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>

